@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');
@import url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");
* {margin:0; padding:0}
body {
  overscroll-behavior: none;
  position: absolute
}
.App {
  text-align: center;
  background-color: #17658f;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cg %3E%3Cpolygon fill='%231a8091' points='1800 160 0 560 0 450 1800 50'/%3E%3Cpolygon fill='%231d9b93' points='1800 360 0 660 0 550 1800 150'/%3E%3Cpolygon fill='%2320b794' points='1800 360 0 760 0 650 1800 250'/%3E%3Cpolygon fill='%2323d296' points='1800 460 0 860 0 750 1800 350'/%3E%3Cpolygon fill='%2326ed98' points='1800 800 0 800 0 850 1800 450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  width: 100vw;
  padding-top: 2em;
  img { cursor: pointer; }
  h2{font-family: "chilanka", sans-serif; color: rgb(67, 245, 171); font-weight: 400; letter-spacing: 1px;padding-bottom: 1em;text-shadow: 1px 1px 5px rgb(119, 101, 130);  }
  h1 {text-shadow: 1px 1px 5px rgb(67, 245, 171); 
    font-size: 4em;
    font-family:"Do Hyeon", "chilanka", sans-serif;
    letter-spacing: 5px; color:rgb(98, 24, 143);
  }
}
.board {  height: 80vh;
  width: 80vw;
  transform: translateX(10%);
}

.flip-container{
  perspective: 1000px;
  display: inline-block;
  margin: 1em;
}
.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back{
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.back {
  z-index: 2;
  transform: rotateY(0deg);
}
.front {
  transform: rotateY(180deg);
}
@keyframes fadein {
  0% {
      transform: translateY(-300px);
      opacity: 0
  }
  100% {
      transform: translateY(0);
      opacity: 100%
  }
}

//win text
#animationhere{
  h1 {font-family: "Schoolbell", sans-serif;
    animation: colors 0.5s infinite alternate;
    color: #99236F;
    -webkit-text-stroke: 1px white; 
    text-shadow: 1px 1px 20px black;
    z-index:1;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    transform: translateX(200%);
    transform: translateY(110%);
    }
}
@keyframes colors {
  from {font-size: 7em;}
  to {font-size: 9em;
      letter-spacing: 1px;
      color: #F46464;
      }
}
//nav box
.fadebox { padding: 0.6em 5em;
  box-shadow: inset 0 0 0 1000px  rgba(255, 255, 255, 0.25);
  display: inline-block ; border-radius: 20px
}

//gamebar
nav {
  margin-bottom: 1em;
  .nav-item {
    padding-bottom: 0.5em;
  }
}
li {font-family: "chilanka", sans-serif;font-weight: 400;list-style: none; display: inline-flex; padding: 1em; 
  margin-top: 1em; border-radius: 10px;font-size: 1.4em;
  color:rgb(98, 24, 143);font-weight: 700; letter-spacing: 1px;
text-shadow: 1px 1px 5px grey; span{color:rgb(67, 245, 171)}}

button {padding: 0.4em; padding-top:0.6em; font-family: "chilanka", sans-serif;
  font-size:1.4em; cursor: pointer; letter-spacing: 2px;
  background-color: rgb(119, 29, 175);   color:rgb(67, 245, 171);
  border-radius: 10px; border: none; box-shadow: 1px 1px 5px rgb(82, 40, 91)}

  @media screen and (max-width: 768px){
  body {font-size: 0.7em; }
  .board {margin-top:0.6em;
    width: 100vw;
    transform: translateX(0);}
  .fadebox {padding: 0; margin: 0 1em}
  .App { h1{font-size: 3em}
  h2{padding-bottom: 0.3em}}
  button {padding: 0.3em; padding-top:0.5em; font-size:1.2em;}
  li {padding: 0 0.6em;display: inline-block}
  nav {margin-bottom: .2em;
  .nav-item {padding-bottom: 0;}
  .flip-container{
    margin: 0.7em;
  }}
}