@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');
* {margin:0; padding:0}
.App {
  font-family: "Didact Gothic", sans-serif;
  text-align: center;
  background-color: aquamarine;
  height: 100vh;
  h1 {padding: 1em;};
}
